<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ssm.dufy.dao.DwdmDao">
	<resultMap type="Dwdm" id="dwdmMap">
		<result column="DWDM" jdbcType="VARCHAR" property="dwdm"/>
		<result column="DWMC" jdbcType="VARCHAR" property="dwmc"/>
		<result column="SJDM" jdbcType="VARCHAR" property="sjdm"/>
		<result column="DWJC" jdbcType="VARCHAR" property="dwjc"/>
		<result column="YXX" jdbcType="VARCHAR" property="yxx"/>
		<result column="DWJB" jdbcType="VARCHAR" property="dwjb"/>
		<result column="XZQH" jdbcType="VARCHAR" property="xzqh"/>
		<result column="YWSJDM" jdbcType="VARCHAR" property="ywsjdm"/>
		<result column="YWDWDM" jdbcType="VARCHAR" property="ywdwdm"/>
		<result column="STATE" jdbcType="VARCHAR" property="state"/>
	</resultMap>
	<sql id="columns">
		DWDM,
		DWMC,
		SJDM,
		DWJC,
		YXX,
		DWJB,
		XZQH,
		YWSJDM,
		YWDWDM
	</sql>
	<select id="queryDwdmBySjdw" parameterType="java.util.Map" resultMap="dwdmMap">
		SELECT	t.DWDM dm, t.DWMC mc, t.PY,t.DWDM,t.DWMC,t.SJDM,t.DWJC,t.YXX,
		CASE
			WHEN t2.cc > 0 THEN
				'closed'
			ELSE
				'open'
		END state,
 		t.YWDWDM,
 		t.DWJZ
		FROM
			T_SYS_DWDM t
		LEFT JOIN (
			SELECT
				sjdm,
				count(1) cc
			FROM
				T_SYS_DWDM
			GROUP BY
				sjdm
			) t2 ON t2.sjdm = t.dwdm
			WHERE
			t.YXX =1
			<trim prefix="and(" suffix=")" prefixOverrides="and | or">
				<if test="dwdm !=null ">
					AND t.SJDM=#{dwdm,jdbcType=VARCHAR}
				</if>
			</trim>
	</select>
</mapper>